.phone, .mail{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 30%;
}

.mail > a{
    color: #fff;
    text-decoration: none;
}

.contact{
    margin: 0 auto 50px auto;
    width: 100%;
    background-color: transparent;
}

.contactPage{
    background-color: rgba(0, 0, 0, 0.5);
	padding: 50px;
    display: flex;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
}

@media screen and (max-width: 1100px) {
	.phone, .mail{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .phone, .mail{
        font-size: 1.2rem;
        width: 100%;
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .contactPage{
        padding: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80%;
    }
    .contact{
        font-size: 40px;
        margin: 0 auto 20px auto;
        padding: 0px;
    }
}

@media screen and (max-width: 400px) {
    .contact{
		font-size: 30px !important; 
    }

    
}
