.phone, .mail{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 30%;
}

.mail > a{
    color: #fff;
    text-decoration: none;
}

.contact{
    margin: 0 auto 50px auto;
    width: 100%;
}

.contactPage{
    background-color: rgba(0, 0, 0, 0.5);
	padding: 50px;
    display: flex;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
}