.writeWord {
	position: relative;
	display: inline-block;
	height: 60px;
}

.writeWord::after {
	content: "";
	position: absolute;
	width: 0.5rem;
	height: 120%;
	background-color: #fff;
	right: -8px;
	bottom: -15px;
	display: inline-block;
	animation: transitionTransparent 1s infinite linear;
}

.twinkle::after {
	background-color: transparent;
}
