@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

body {
	margin: 0;
	font-family: "DotGothic16", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #eee;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-items: center;
}
